{% extends 'base.html.twig' %}
{% block body %}
 <form action="{{ path('recherche') }}" method="post">
      

        <label for="password">Mot clé</label>
        <input type="test" id="mot_cle" name="mot_cle"/>

        <button type="submit">Rechercher</button>
    </form>

    <h1>les bars lillois</h1>

    <a href="{{ path('bars_new') }}">Ajouter un bars</a>

    <br>

    <br>

<div class="row">

{% for bar in bars %}

  <div class="card col-md-4 col-xs-6">
  
  {# https://source.unsplash.com/featured/ #}

<div class="max-height-photos">
     <img class="card-img-top img-fluid" src="{{ asset('photos_bars/' ~ bar.Photos) }}" alt="Card image top">
</div>

    <div class="card-body">
      <h5 class="card-title">{{ bar.Nom }}</h5>
      <p class="card-text">{{ bar.Alcools }} {{ bar.Adresse }}<br> </p>
      <p class="card-text"><small class="text-muted"><a href="{{ path('bars_show', {'id': bar.id}) }}">Afficher</a></small>

    {%if bar.user == app.user%}

     <small class="text-muted"><a href="{{ path('bars_edit', {'id': bar.id}) }}">Modifier</a></small>

    {% endif %}

     </p>
    </div>
  </div>

{% endfor %}
{% endblock %}