{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
    <h1>Utilisateurs</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ utilisateur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ utilisateur.Nom }}</td>
            </tr>
            <tr>
                <th>Login</th>
                <td>{{ utilisateur.Login }}</td>
            </tr>
            <tr>
                <th>Mdp</th>
                <td>{{ utilisateur.Mdp }}</td>
            </tr>
            <tr>
                <th>Admin</th>
                <td>{{ utilisateur.admin ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('utilisateurs_index') }}">back to list</a>

    <a href="{{ path('utilisateurs_edit', {'id': utilisateur.id}) }}">edit</a>

    {{ include('utilisateurs/_delete_form.html.twig') }}
{% endblock %}